name: da3-firms
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.11
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - statsmodels
  - patsy
  - jupyterlab
  - pip
  - pip:
      - pyfixest
